# editor
.vscode/
.DS_Store

# python
__pycache__/
*.py[cod]
.mypy_cache/
pip-wheel-metadata/

# build
build/
dist/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# test
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# translations
*.mo
*.pot

# jupyter notebook
.ipynb_checkpoints

# env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# my
sync.sh
scilib/scripts/README_SECRET.md
scilib/gender/chinese_naive_bayes/data/
scilib/gender/gender_predictor/data/
scilib/gender/api_genderize/data/
scilib/gender/imdb_wiki_dataset/data/
scilib/gender/api_namsor/data/
scilib/gender/api_namsor/secret.py
scilib/gender/api_gender/data/
scilib/gender/api_gender/secret.py
scilib/gender/gender_computer/genderComputer/
scilib/doi/README_SECRET.md

scilib/cnki/data/

scilib/stata/*.do

notebook/
